<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="nav" >

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="http://localhost:8080/index">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="http://localhost:8080/all-trips">Our Trips</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="http://localhost:8080/new-trip">New Trip</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="http://localhost:8080/signup">New User</a>
			</li>

		</ul>
		<ul class="navbar-nav mr-auto navbar-brand">
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
			<li class="nav-item active">

			</li>

			<li class="nav-item" sec:authorize="!isAuthenticated()" >
				<a class="nav-link" href="http://localhost:8080/login">Login</a>
			</li>
			<li class="nav-item" sec:authorize="isAuthenticated()" >
				<a class="nav-link" href="http://localhost:8080/logout">Logout <span th:text="${#httpServletRequest.remoteUser}" /></a>
			</li>


		</ul>
	</div>
</nav>


