<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>

<div layout:fragment="content">

    <div class="page-header mf-header">
        <h1>
            Fahrt suchen
        </h1>
    </div>
    <form class="form-inline" th:action="@{'/all-trips/search/'}" method="get">
        <div class="form-group mb-2">
            <input type="text" class="btn-outline-success form-control" placeholder="Start" name="start"
                   th:value="${start}">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="btn-outline-success form-control" placeholder="Ziel" name="end"
                   th:value="${end}">
        </div>
        <input type="submit" class="btn btn-outline-success mb-2" th:value="Suchen">
    </form>
    <table th:if="${!allTrips.empty}" class="table table-top table-responsive-md table-bordered table-success text-center">
        <tr>
            <th>Abfahrtsort</th>
            <th>Ankunftsort</th>
            <th>Datum und Uhrzeit</th>
            <th>Preis pro Platz (in €)</th>
            <th>Noch verfügbare Plätze</th>
            <th>Haustiere</th>
            <th>Raucher</th>
            <th>Fahrer</th>
            <th>Fahrer-Bewertung</th>
            <th>Optionen</th>
        </tr>
		<!-- nur Fahrten mit verfügbaren Plätzen werden gezeigt -->
        <tr th:each="trip :${allTrips}" th:if="${trip.remainingSeats!=0 && trip.bookable==true}" >
            <td th:text="${trip.start}"></td>
            <td th:text="${trip.end}"></td>
            <td th:text="${#dates.format(trip.date, 'dd.MM.yyyy - HH:mm')}"></td>
            <!-- wenn der Preis ==0 ist, erscheint "Kostenlos", sonst erscheint der Preis -->
            <td th:text="${trip.price==0}?'Kostenlos':${trip.price}"></td>
            <td th:text="${trip.remainingSeats}"></td>
            <td th:text="${trip.pet}?'Ja':'Nein'"></td>
            <td th:text="${trip.smoking}?'Ja':'Nein'"></td>
            <td th:text="${trip.owner.name}"></td>
            <td th:text="${trip.owner.averageRating > 0 ? trip.owner.averageRating : 'Noch keine Bewertung' }"></td>
            <!--<td th:if="${trip.ownedByCurrentUser}">-->
                <!--<form th:action="@{'/all-trips/delete/'+${trip.id}}" method="post">-->
                    <!--<input type="submit" class="btn btn-danger" th:value="Delete">-->
                <!--</form>-->
            <!--</td>-->
            <!-- wenn es nicht von dem eingelogten User besetzt und es ist buckbar, wird die Buchungsoption erscheinen -->
            <!--<td th:if="${!trip.ownedByCurrentUser && trip.bookable==true}">-->

            <!--Nicht buchbare Fahrten werden erst gar nicht angezeigt-->
            <td>
                <!--Buchen Button ist disabled falls Fahrt vom angeldeten Benutzer stammt-->
                <a th:if="${!trip.isOwnedByCurrentUser()}" th:href="${'/trips/book-trip/'+trip.id}" role="button" class="btn btn-success">Buchen</a>
                <br>
                <br>
                <a th:href="${'/all-trips/'+trip.id}" role="button" class="btn btn-light">Details</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
