<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div layout:fragment="content">
    <div class="page-header">
        <h1>Fahrt buchen</h1>
    </div>
    <!--Trip Details-->
    <div th:replace="fragments/trip-details-fragment :: content"></div>
    <!--Form fuer Buchung-->
    <form method="post" th:object="${bookingForm}" th:action="@{${'/trips/book-trip/'+trip.id}}">
        <div class="form-group">
            <label for="inputSeats" class=""><strong>Wie viele Plätze möchten Sie buchen?</strong></label>
            <select id="inputSeats" name="bookedSeats" class="form-control" th:field="*{bookedSeats}">
                <option th:each="i: ${#numbers.sequence(1, trip.remainingSeats)}" th:text="${i}"
                        th:value="${i}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary button-right">Fahrt buchen</button>
            <a th:href="@{/index}" role="button" class="btn btn-info">Abbrechen</a>
        </div>
    </form>
</div>


</body>
</html>