<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<body>

<div layout:fragment="content">
	<div class="page-header mf-header">
		<h1>Fahrt anbieten</h1>
	</div>

	<form method="post" class="form-horizontal" th:object="${newTripForm}" th:action="@{/new-trip}">
		<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
			<p>Versuchen Sie es nochmal!</p>
		</div>
		<div class="form-group">
			<label for="inputStart" class="col-sm-2 control-label">Abfahrtsort:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputStart" name="start" th:field="*{start}" autofocus/>
				<label class="text-danger" th:errors="*{start}"/>
			</div>
		</div>

		<div class="form-group">
			<label for="inputEnd" class="col-sm-2 control-label">Ankunftsort:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputEnd"  name="end" th:field="*{end}" />
				<label class="text-danger" th:errors="*{end}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="inputDate" class="col-sm-2 control-label">Datum und Uhrzeit:</label>
			<div class="col-sm-3">
				<input type="datetime-local" class="form-control" id="inputDate"
					   th:field="*{date}" name="date"/>
				<label class="text-danger" th:errors="*{date}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="inputFreeSeat" class="col-sm-2 control-label">Freie Plätze:</label>
			<div class="col-sm-2">
				<input type="number" value="0" class="form-control" id="inputFreeSeat" th:field="*{freeSeats}" name="freeSeats"/>
				<label class="text-danger" th:errors="*{freeSeats}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="inputPrice" class="col-sm-2 control-label" >Preis pro Platz (in €):</label>
			<div class="col-sm-2">
				<input type="number" class="form-control" id="inputPrice" th:field="*{price}" name="price"/>
				<label class="text-danger" th:errors="*{price}"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-10">
				<br>
				<a>Bitte wählen:</a>
				<br>
			</div>
		</div>
		<div class="form-group">
			<label for="inputPet" class="col-sm-2 control-label" >Haustiere</label>
			<div class="col-sm-1">
				<input type="checkbox" class="form-control" id="inputPet" th:field="*{pet}" name="pet"/>
				<label class="text-danger" th:errors="*{pet}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="inputSmoking" class="col-sm-2 control-label">Raucher</label>
			<div class="col-sm-1">
				<input type="checkbox" class="form-control" id="inputSmoking" th:field="*{smoking}" name="smoking"/>
				<label class="text-danger" th:errors="*{smoking}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="inputBookable" class="col-sm-2 control-label">Buchbar</label>
			<div class="col-sm-1">
				<input type="checkbox" class="form-control" id="inputBookable" th:field="*{bookable}" name="bookable"/>
				<label class="text-danger" th:errors="*{bookable}"/>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-10">
				<button type="submit" class="btn btn-success">Anbieten</button>
				<a th:href="@{/index}" role="button" class="btn btn-success">Abbrechen</a>
			</div>
		</div>
	</form>

</div>
</body>
</html>
