<nav class="navbar navbar-inverse navbar-expand-lg navbar-light bg-light" th:fragment="nav"
	 xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>
                <!-- Just an image -->

                <a class="navbar-brand" href="/index">
                    <img th:src="@{'img/greencarlogo.png'}" width="auto" height="auto" alt="Logo"/>
                </a>

            </li>

            <li class="nav-item">
                <a class="nav-link nav-element" href="/all-trips">Fahrt finden</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link nav-element" href="/new-trip">Fahrt anbieten</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link nav-element" href="/my-trips">Meine Fahrten</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto.justify-content-end">

            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/signup">Neu registrieren</a>
            </li>

            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link form-control" href="/login">Einloggen</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">Ausloggen: <span th:text="${#httpServletRequest.remoteUser}"/></a>
            </li>

        </ul>
    </div>
</nav>



