<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<meta http-equiv="refresh" content="3;url=http://localhost:8080/all-trips">
</head>
<body>
<div layout:fragment="content">
	<h1>403: Hoppla!</h1>
	<p><strong>Die Seite, nach der Sie suchen, ist zugangsbeschränkt. <a href="/">Zurück</a></strong></p>
	<p><span class="alert-danger alert"> Sie werden in 3 Sekunden automatisch zu unserer Startseite weitergeleitet.</span></p>

</div>
</body>
</html>
