<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<meta http-equiv="refresh" content="6;url=http://localhost:8080/signup">
</head>
<body>
<div layout:fragment="content">
	<h1>500: Hoppla!</h1>
	<h3	 class="alert	alert-danger" style="text-align: center">Leider ist der ausgewählte Nutzernname schon belegt. Bitte wählten Sie einen anderen Username aus</h3>
	<h4 class="alert-info alert" style="text-align: center"> Sie werden in 6 Sekunden automatisch zu unserer Registerierungsseite weitergeleitet.</h4>
</div>
</body>
</html>
