<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">

<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Gemeinsam erreicht man mehr!</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

                        <div class="col-md-auto">
                            <a th:href="@{/all-trips}" role="button" class="btn btn-success">Jetzt passende Fahrt finden</a>
                        </div>
                    </div>
            </div>
        </div>

</header>

    <!-- Icons Grid -->
    <section class="features-icons grey text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <p>Leaf icon: <span class="glyphicon glyphicon-leaf"></span></p>
                            <span class="glyphicon glyphicon-leaf"></span>
                            <i class="icon-check m-auto text-primary"></i>
                         </div>
                            <h3>Die Umwelt schonen</h3>
                            <p class="lead mb-0">Die CO2-Ersparnis durch Fahrgemeinschaften ist enorm! </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-layers m-auto text-primary"></i>
                        </div>
                        <p>Heart icon: <span class="glyphicon glyphicon-heart"></span></p>
                        <h3>Nette Leute kennenlernen</h3>
                        <p class="lead mb-0">Lass durch einen netten Plausch die Fahrzeit schneller vergehen!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-screen-desktop m-auto text-primary"></i>
                        </div>
                        <p>Eur icon: <span class="glyphicon glyphicon-eur"></span></p>
                        <h3>Geld sparen</h3>
                        <p class="lead mb-0">Finde Mitfahrer, die in die gleiche Richtung wollen, und teilt euch die Fahrtkosten!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <h4 class="box">So funktioniert's:</h4>
            <p><strong>1. Finde eine Fahrt</strong></p>
                <p>Sag uns, wo deine Mitfahrt starten soll und wohin du fahren willst und wähle dann die ideale Mitfahrt für dich aus.
                </p>
            <br>
            <p><strong>2. Buche einen Platz</strong></p>
                <p>Wähle aus wie viele Plätze du benötigst und tippe auf "Buchen".
                </p>
            <br>
            <p><strong>3. Bring das Bargeld mit und genieß die Fahrt!</strong></p>
                <p class="box-bottom">Denk an das Bargeld und vergiss nicht, danach eine Bewertung abzugeben!
                </p>
        </div>
    </section>

    <section class="masthead2 text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Werde jetzt Teil einer weltweiten Community!</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

                    <div class="col-md-auto">
                        <a th:href="@{/signup.html}" role="button" class="btn btn-success">Jetzt registrieren</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

</body>
</html>
