<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<body>

<div layout:fragment="content">
	<!-- Masthead -->
	<div class="masthead-signup text-white">
		<div class="container">
			<div class="page-header mf-header">
			<h1>Neu registrieren</h1>
		</div>

			<form method="post" class="form-horizontal" th:object="${signupForm}" th:action="@{/signup}">
				<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
					<p>Hoppla! Da ist was schiefgelaufen.</p>
				</div>
				<label for="inputName" class="col-sm-2 control-label">Nutzername</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="inputName" name="name" th:field="*{name}"/>
					<label class="text-danger" th:errors="*{name}"/>
				</div>
				<br>
				<div class="form-group">
					<label for="inputPassword" class="col-sm-2 control-label" th:field="*{password}">Passwort</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="inputPassword" name="password"/>
						<label class="text-danger" th:errors="*{password}"/>
					</div>
				</div>
				<br>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-4">
						<button type="submit" class="btn btn-success">Registrieren</button>
					</div>
				</div>
			</form>
		</div>

	</div>

</div>

</body>
</html>
